html {
    font-size: 14px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

table, th, td {
    font-size: 13px;
}

/* unvisited link */
a:link {
    color: orange;
  }
  
  /* visited link */
  a:visited {
    color: orange;
  }
  
  /* mouse over link */
  a:hover {
    color: orange;
  }
  
  /* selected link */
  a:active {
    color: orange;
  }