html {
    font-size: 14px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

table, th, td {
    font-size: 13px;
}

a:link {
  color: orange;
}

a:visited {
  color: orange;
}

a:hover {
  color: orange;
}

a:active {
  color: orange;
}