{% extends "base.html" %}
{% block content %}

<div class="container" style="width: 24rem;">
  <h1 class="text-center mt-5">Wie treft <span style="color: orange; font-weight: bold">Oranje</span> in de achtste
    finale?</h1>
</div>
<div class="card" style="width: 24rem;">
  <form method="POST" , action="">
    {{ form.hidden_tag() }}
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h4>Groepsresultaat</h4>
        </div>
        <div class="col">
          {{ form.position (class="form-control select") }}
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <h6>Beste nummers 3</h6>
        </div>
        <div class="col-sm">
          <h6>Slechtste nummers 3</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          {{ form.qualified }}
        </div>
        <div class="col-sm">
          {{ form.unqualified }}
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button class="btn-lg btn-warning" type="submit">
            Wie treft Oranje?
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
</div>

{% if result %}
<div class="card" style="width: 24rem;">
  <div class="card-body text-center">
    <strong>{{result|safe}}</strong>
  </div>
</div>
{% endif%}
<div class="container text-center mt-5">
  <a class="btn-lg btn-warning" href="/">
    Terug naar de virtuele tegenstander
  </a>
</div>
{% endblock content %}