{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid text-center">
    {% if 'Uitgeschakeld' not in opponent %}
    <h1 class="display-4 mt-5">
        <span style="color: orange; font-weight: bold">Oranje</span> treft virtueel
    </h1>
    <h1 class="display-2 mt-2">
        <strong>{{ opponent }}</strong>
    </h1>
    <h1 class="display-4 mt-2">
        in de achtste finale!
    </h1>
    {% else %}
    <h1 class="display-4 mt-5">
        Oranje is virtueel uitgeschakeld... 😭
    </h1>
    {% endif %}
    <div class="container text-center mt-5">
        <a class="btn-lg btn-warning" href="{{ url_for('main.custom') }}">
            Probeer senario
        </a>
    </div>
</div>
{% endblock content %}