{% extends "base.html" %}
{% block content %}

<div class="container" style="width: 24rem;">
  <h1 class="text-center mt-5">Wie treft <span style="color: orange; font-weight: bold">Oranje</span> in de achtste
    finale?</h1>
</div>

{% for field, errors in form.errors.items() %}
<div class="card bg-warning mt-3 mb-2" style="width: 24rem;">
  <div class="card-body text-center">
    <strong>{{ ', '.join(errors) }}</strong>
  </div>
</div>
{% endfor %}

{% if result %}
<div class="container mt-3 mb-2 text-center" style="width: 24rem;">
  <h5>{{result|safe}}</h5>
</div>
{% endif%}

<div class="card mb-5" style="width: 24rem;">
  <form method="POST" , action="">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h4>Groepsresultaat</h4>
        </div>
        <div class="col">
          {{ form.position (class="form-control select") }}
        </div>
      </div>
    </div>
    <div class="card-body text-center">
      <div class="row">
        <div class="col-sm">
          <h5>Beste nummers 3</h5>
          Selecteer 0 tot 4 groepen
        </div>
      </div>
      <div class="row">
        <div class="col-sm mt-3">
          {{ form.qualified }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm">
          <h5>Slechtse nummers 3</h5>
          Selecteer 0 tot 2 groepen
        </div>
      </div>
      <div class="row">
        <div class="col-sm mt-3">
          {{ form.unqualified }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col text-center">
          <button class="btn-lg btn-warning btn-block font-weight-bold" type="submit">
            Wie treft Oranje?
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
</div>

<div class="container text-center mt-5 mb-5">
  <a class="btn btn-warning" href="{{ url_for('main.current') }}">
    Naar de virtuele tegenstander
  </a>
</div>

{% endblock content %}